@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: 'Do Hyeon', sans-serif;

  background-image: url("./background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 24px;
}


/* =========================
   전체 카드
========================= */

.app-card {
  width: 85%;
  max-width: 380px;
  min-height: 580px;

  background: rgba(255, 255, 255, 0.92);

  border-radius: 0;

  padding: 32px 24px;

  box-shadow:
    0 0px 0px rgba(0, 0, 0, 0);

  overflow: hidden;

  margin: 0 auto;
}


/* =========================
   화면
========================= */

.screen {
  display: none;

  min-height: 576px;
}

.screen.active {
  display: flex;
  flex-direction: column;

  animation: fadeIn 0.3s ease;
}


@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}


/* =========================
   기본 글자
========================= */

h1 {
  font-family: 'Do Hyeon', sans-serif;

  font-size: 32px;

  margin: 0 0 12px;

  font-weight: 400;

  letter-spacing: -0.3px;
}

h2 {
  font-family: 'Do Hyeon', sans-serif;

  font-size: 25px;

  line-height: 1.45;

  margin: 20px 0;

  font-weight: 400;
}

p {
  font-family: 'Do Hyeon', sans-serif;

  line-height: 1.7;
}


/* =========================
   시작 화면
========================= */

#start-screen {
  justify-content: center;

  align-items: center;

  text-align: center;
}

.start-content {
  width: 100%;
}


.emoji {
  font-size: 60px;

  margin-bottom: 20px;
}


.start-content h1 {
  font-family: 'Do Hyeon', sans-serif;

  font-size: 32px;

  font-weight: 400;

  letter-spacing: -0.5px;
}


.start-content p {
  color: #777;

  font-size: 16px;

  margin-bottom: 40px;
}


/* =========================
   버튼
========================= */

.main-btn {
  width: 100%;

  border: none;

  border-radius: 0px;

  padding: 16px;

  background: #FFD50B;

  color: #ffffff;

  font-family: 'Do Hyeon', sans-serif;

  font-size: 18px;

  font-weight: 400;

  cursor: pointer;

  transi
